body {
  background-color: rgb(32 33 36);
  font-family: "Krub", sans-serif;
  font-family: "Yantramanav", sans-serif;
  /*border: 10px solid red;/*
  /*display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;*/
  /*display: flex;
    flex-direction: column;
    min-height: 100vh;*/
}
header {
  background-color: rgb(53 53 53);
  padding: 20px 0;
}
.headertitulo {
  font-size: 60px;
  text-align: center;
  color: #7952b3;
}

/*.caja{
        width: 940px;
        position: relative;
        margin: 0 auto;

    }*/

.imagenHeader {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 100px;
  margin: 50px;
}

nav {
  position: absolute;
  top: 10;
  right: 0;
  padding-right: 50px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #7952b3;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(3 105 161);
  text-decoration: underline;
}

nav a:active {
  color: rgb(29 78 216);
}

main {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

form {
  margin: 40px 0;
  color: #7952b3;
}

.form1 label,
legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input_padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-color: #7952b3;
  border-radius: 10px;
}

.input_padron:hover{
  border-color: rgb(3 105 161);
}

.input_padron:active{
  border-color: rgb(29 78 216);
}

#checkboxNotificacion{
  margin: 20px 0;
}

#botonEnviar{
  width: 40%;
  padding: 15px 0;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: #7952b3;
  background: white;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-color: #7952b3;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

#botonEnviar:hover{
  border-color: #7952b3;
  background: rgb(3 105 161);
  color: white;
  transform: scale(1.05);
}
#botonEviar:active{
  border-color: rgb(29 78 216);
}

table{
margin: 40px 40px ;
}
thead{
  background: rgb(53 53 53);
  color: #7952b3;
  font-weight: bold;
}

td,th{
  border: 1px solid rgb(53 53 53);
  color: #7952b3;
}

footer {
  text-align: center;
  background-color: rgb(53 53 53);
  padding: 10px;
  margin-top: auto;
}

.iconFooter {
  width: 100px;
  height: 100px;
}

.copyrigth {
  background-color: rgb(53 53 53);
  color: #7952b3;
  font-size: 13px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .imagenHeader{
    display: none;
  }
}
