body {
  background-color: rgb(32 33 36);
  font-family: "Krub", sans-serif;
  font-family: "Yantramanav", sans-serif;
}
main {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
header {
  background-color: rgb(53 53 53);
  padding: 20px 4rem;
}
.headertitulo {
  font-size: 60px;
  text-align: center;
  color: #7952b3;
}

.caja {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imagenHeader {
  width: 4rem;
  height: auto;
}
.btn-Menu{
  display:flex ;
  justify-content: space-between;
  align-items: center;
}
.btnMenu{
  width: 4rem;
}
#btn-menu{
  display: none;
}
.contenedor-menu{
  position: absolute;
  background-color: rgba(0, 0, 0, 0, 5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .contenedor-menu{
  opacity: 1;
  visibility: visible;
}
.cont-menu{
  width: 100%;
  max-width: 100%;
  background-color: rgb(32 33 36);
  opacity: 90%;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(0%)
}
#btn-menu:checked ~ .cont-menu{
  transform: translateX(-100%)
}
.cont-menu nav{
  transform: translateY(15%);
}
.cont-menu nav a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;

}
.cont-menu nav a:hover{
  border-left: 5px solid rgb(3 105 161);
  background-color: rgb(30 31 34);
}
.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  color: #7952b3;
  cursor: pointer;
  font-size: 18px;
}
.botonX{
  width: 1rem;
  
  
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #7952b3;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(3 105 161);
  text-decoration: underline;
  font-size: 24px;
}

nav a:active {
  color: rgb(29 78 216);
}
.volumenesCreados {
   width: 100%; 
  margin: 0 auto;
  padding: 10px;
}

.volumenesCreados li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  /*background-color: aqua;*/
  margin: 1.5% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #7952b3;
  border-radius: 10px;
}

.volumenesCreados li:hover {
  border-color: rgb(3 105 161);
}

.volumenesCreados li:active {
  border-color: rgb(29 78 216);
}

.volumenesCreados h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7952b3;
}

.volumenesCreados li:hover h2 {
  font-size: 33px;
}

.volumenesCreados img {
  width: 242px;
  height: 349px;
}
.productoPrecio {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  margin-top: 10px;
}

footer {
  text-align: center;
  background-color: rgb(53 53 53);
  padding: 10px;
}

.iconFooter {
  width: 100px;
  height: 100px;
}

.copyrigth {
  background-color: rgb(53 53 53);
  color: #7952b3;
  font-size: 13px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .volumenesCreados {
    display: flex;
    flex-direction: column;
    
  }
  .caja {
    display: none;
  }
  .icono-oculto{
    display: flex;
  }
}
@media screen and (min-width: 760px) {
  .btn-Menu {
    display: none;
  }
  .cont-menu{
    display: none;
  }
  
}
