body {
  background-color: rgb(32 33 36);
  font-family: "Krub", sans-serif;
  font-family: "Yantramanav", sans-serif;
}
main {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
header {
  background-color: rgb(53 53 53);
  padding: 20px 0;
}
.headertitulo {
  font-size: 60px;
  text-align: center;
  color: #7952b3;
}

/*.caja{
            width: 940px;
            position: relative;
            margin: 0 auto;
    
        }*/

.imagenHeader {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 100px;
  margin: 50px;
}

nav {
  position: absolute;
  top: 10;
  right: 0;
  padding-right: 50px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #7952b3;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(3 105 161);
  text-decoration: underline;
}

nav a:active {
  color: rgb(29 78 216);
}

.contenedorBaner {
  padding: 20px;
}
.baner {
  width: 100%;
  height: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #7952b3;
  /* margin: 10px; */
  border-radius: 10px;
}

.baner:hover {
  border-color: rgb(3 105 161);
}

.baner:active {
  border-color: rgb(29 78 216);
}
.principal {
  color: #7952b3;
  margin: 1em auto;
  font-size: x-large;
}
.principal strong {
  font-weight: bold;
}
.principal em {
  font-style: italic;
}
.principal p {
  margin: 0 0 1em;
}
.tituloPrincipal {
  text-align: center;
  font-size: 2em;
  clear: left;
  color: #7952b3;
  text-decoration: underline;
  padding: 1rem;
}
.divParrafo p {
  font-size: 1.1em;
  margin: 0 4rem;
  padding: 1rem;
}
.divParrafo h3 {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}
.sinopsis {
  text-align: justify;
  font-size: large;
}
#baner2 {
  width: 30%;
  float: right;
  margin: 0 20px 20px 0;
  transition: 400ms;
  box-shadow: -15px 15px 15px black;
}
#baner2:hover {
  opacity: 30%;
}
#baner3 {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
  transition: 400ms;
  box-shadow: 15px 15px 15px black;
}
#baner3:hover {
  opacity: 30%;
}
#linkmanga:hover {
  color: rgb(3 105 161);
  text-decoration: underline;
  font-size: 24px;
}
.items:before {
  content: "★";
}

.mapa {
  padding: 3em 0;
  margin: 10px;
}

.videoyoutube {
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  background-color: rgb(53 53 53);
  padding: 10px;
}

.iconFooter {
  width: 100px;
  height: 100px;
}

.copyrigth {
  background-color: rgb(53 53 53);
  color: #7952b3;
  font-size: 13px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .imagenHeader {
    display: none;
  }
}
